<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ASRForiOSApp-ASRForiOSApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>AfantySDK-OmegaSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ApolloSDK-Swarm-ApolloSDK-Swarm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ApolloSDK-Swarm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DComponent_Tools.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DDIM-DDIMAssets.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DDIM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DDMap-MapRes.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DDMap.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DKTDebugToolKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiLocation-DiDiLocation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiLocation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiLocationMiddleware.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiMap-DiDiMap.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiMap.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiMapBusiness-DMBAssets.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiMapBusiness.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DiDiPublicService-DiDiPublicService.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FusionKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ISCProject-ISCProject.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MMNotificationView-MMNotificationView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEAppConfig.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEAppExtensionKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDYCDebugTool.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDataTracker.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDebugKit-ONEDebugKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDebugKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDebugPlugins-ONEDebugPlugins.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDebugPlugins.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDiDiPaySDK-ONEDiDiPaySDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDiDiPaySDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDrivingSafety.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDrivingSafetyChecker.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEDynamic.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEFaceDetect-ONEFaceDetect.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEFaceDetect.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEFacePlusPlusSDK-MGLiveResource.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEFacePlusPlusSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEFoundation-ONEFoundation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEFoundation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEFusion.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEHotPatch-ONEHotPatchResource.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEIM-ONEIM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEIM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONELogger.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEMainMenuModule-ONEMainMenuModule.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEMainMenuModule.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONENetDetctor.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONENetMonitor.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONENetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEPassportSDK-ONEPassportSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEPassportSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEProtobufModels.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEReachability.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEResDownloader.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEResource-ONEResource.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEResource.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONESelectAddressModule-ONESelectAddressModule.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONESelectAddressModule.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEShare-ONEShare.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEShare.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONETravelSafetyPlugin.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEUIKit-ONEUIKit-Alert.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEUIKit-ONEUIKit-Bubble.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEUIKit-ONEUIKit-HUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEUIKit-ONEUIKit-Popup.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEUIKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEVoIP-ONEVoIP.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEVoiceConvert-ONEVoiceConvert.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ONEWatchKit-ONEWatchKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>OmegaSDK-OmegaSwarm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>OmegaSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-OneTravel.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Protobuf.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>REFrostedViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ReactiveCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SCarCommon-SCarCommon.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SCarCommon.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SCarCore-SCarCore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SCarCore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Swarm-Swarm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Swarm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TRSocketService.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-AlipaySDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEAudioEngine.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONECustomUI.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONELoginModule.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEOperationForm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEPay.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEPullableView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEShareSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONETravelConfig.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONETravelX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEVCSchemaRegister.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEViews.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-ONEWebView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-SwarmAssets.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne-TheOne.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TheOne.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>WSGIOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Wander.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0028838837C546F62D09AFEE30517911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>007FF470D619F1F0C4254FBA5B452B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>022A0460296FCA4FFCE4A189A03BB488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039A55F0AB8D9BA571162FD3E8FA2310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03F2D2D9F8059067488B4CA04338BB9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0441B5AD255526264ED05D4D8FEA9919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05727835A8B46EED8FC51FB8A86D4439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08E3626A28067E7BC80CF61B178593EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>092BF859ECEDB8D6F93CA1C8037F4EBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A13A90BA4E753FC06115F4BE759FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E50D555DA9358FB263AE92E9D441992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>128EF401880113A8F04F968B0EDAEA2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EE52BA8BB9256E7A972330EB2CF32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2095FA72D3684FB8CE691CA46BE3A35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>225D8A448E12C10CF8C43EAED2673816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D669EAED706CB68562BD22A030BCB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24D98FE2F2CF68178BBD19D5696E4FD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2526FD8E569F5772EBBD504300CBCCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274773E63238064DA8638F6D8FAA5D66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2760E10CF6BEEE4334556BC60ECC4A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DA27F4DF8EE6974BFA6CEE5ECFB06C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32ED81C43E2DF228FFAB2991CF92456D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>357C48856B2D04C1EB2B756E18551C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3805D5ACB8BC5CEFF0D633BE14B7398C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>394AAB29A9C79D1F8D3263BAE74361FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF3A203C002247F605A26E2BB2869B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4170BF71AFE7EC6A5E3821B99A9DADA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4209A0794AB61BA38C27630AD455D963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43923A9C4EA9DB3D2E6D09B1CF5800B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4564A1AACBCFBEDAB1692600FDEB448A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A7727ADE8E3B715D57F30C6C570976</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B9BCC38E6A1DA4C79FC1860460D0408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BCD7E46F84E45A47B3FBB366C294486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE29EAF075033E31182EBF02E520687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D9BAA9A77BB6D583079D72BBEC24B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F120F8149473ED77CC83D697D9F1407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B812FB8A7DEEAD5ADB1C1ECF7D5ACFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2052864605D340BEC76EC7162FD72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>614F47D3A58E10B0B0ED66C96268D09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E5338EF6ACFC1DC0D9BEA0001BBB74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6530E6A5ED88E0F13C79ED882BD98E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66816B4038423E33215331EB1D2B896D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>678F1CBF12B359D8876166E35D452DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68A16A0D0F15105D0DC4E597567F2A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D6A05F43277A40A8272BFE4A8A71F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69F0D12AD989EE4B6B1A626C91927CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A9E4C0282ABCA62EEBAC95D43124C69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B622BE5D5275A490067ED42FA67D26E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB546CE8B3FBACBCB8D4075C88187F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBD18CCAE02E43F71985D048D8A8633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F063D9BFE04024C2D991E86A0EC6D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7478AF4217BE89DCC57EFF84F93E46E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76BF3B0C8837A8C1DC368FF602459844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78661F2A82BDEFF2ADB27EA47AD79C81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>795042AC89B6368144E587DB436CFEC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821E12187A92AD9522DE9FF9861DA8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836267BD811C593C876A77EB99EDF1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CB03F0C153B5410C1EA96359C9064B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D3641E8F9A98171444BEDCC2714B35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9FA49BAC45E41F90F4EFF7EF23A6D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE73D1B727A283C3DAF081EAD1A312A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F80560838A488D98A16375CAAF7EAED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98A924DB283313BCD39595E369F076DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98C25BB0739468D2EC8CF3B60306AF85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C594D265F702AB888F4E73EB9E398E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A504DC7C959832E1EC929B63467F5BAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8B8C2D29C065D17FBF0BF4CDC8C02D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE54C140D6AF84B5BA35C4C640CE72F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B061B10F854CB9C0AA3DFA0876047F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B15A002A6B4EE89B0AE3A20139901164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2224AABD040616B5B51203ECB18EB08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2FA58E4955C26F654EF96F3BF9DF155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B46B18A5277AE596A0A79EAE461D5F84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9AF3522E498A32A29AE5DC69AA02475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9795D8521076D2ACF57E9283D12CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0000DBE45378EB7448E63D47FBB25F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE8B2A201FD73367F35F1C8A9F9F09F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA76AFF0D19E6EC861098C400ABAE18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF20F20C7C37C84E98E5E00754833E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD1C254BBDCF4D99D43084D4D48C7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C10E8A484C6CBAEC75DAE8202ABE9695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1230EEC8619CA5418D2E8C03B750547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F441C6D0F152695FBEACDC60244E90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF568EEB3B4C527D8F98474616381C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38C8979C2AD66CFBB7BCF2E4CDF5F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69FACD4C1235D99EF0ACA99823E64CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F48D98679DB200298C23C4DEE19744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D744C9434E11E2DBBDFD6A5CCFC61DF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D78DC56CE34C28C39AE7659BA9FC1853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94A1E6BB8DFC01C742A90997F19996C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA10F2F935A5EA9351239572CCCF219F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA6770EF0E5D47D0C6778204D1E1F0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC8DA3F738E301E7A92DE4A28A98B5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1451F053E713C10DD5A6AD585A6775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AEAF9B74B617DDEBA29309CD8A5665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E728095EDAE284CA236B4B65ACCE6E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA12B6459063668334B2A3FEE308FAD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F53A18EBCF6C0C4AA5844B7E1BFF40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1E5CE78AE524BFDEC3CD53442F8F2F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F39E9BA0D467AF4A65573438465E351D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6601BE092D6D1183C22782A19D4623A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8888EADF6A5A37F25D70C8AE2F25E43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
